{% extends 'layouts/base.html' %}
{% block title %}About - {{ block.super }}{% endblock %}

{% block content %}
    <h1 class="title">About Commont</h1>
    <p class="sub-title">A public forum of self and selfless expression.</p>
    <p>--------------</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur reiciendis modi impedit debitis perspiciatis voluptate ratione temporibus, assumenda porro fugiat cum aperiam amet quia illum et tempore inventore recusandae quam?</p>
{% endblock %}
